---
import type { Locale, Translation } from "../i18n/types";
import FAQ from "./FAQ.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import QRGenerator from "./QRGenerator.astro";

interface Props {
	locale: Locale;
	t: Translation;
}
const { locale, t } = Astro.props;
---

<div class="site-shell">
	<a href="#main-content" class="skip-link">{t.header.skipToContent}</a>
	<Header {locale} {t} />
	<main id="main-content" tabindex="-1">
		<QRGenerator {t} />
		<FAQ {t} />
	</main>
	<Footer {t} />
</div>
